.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
__MACOSX
node_modules/
berlin/
berlin_policy/
hamburg/
hamburg_shape/
matsim_r_output/
serengeti/
matsim_r_analysis/
matsim_r_output/
berlin/
berlin_policy/
serengeti/
hamburg/
hamburg_shape/
base/
policy/
temp_output_trips.csv
test_comparing/
output_after_plots.png
test_comparing_first/
test_prepare/
test.csv
analysis_berlin/
analysis_hamburg/
test_folder/
berlin-v5.5.3-1pct.output_trips.csv.gz
config.xml
network.xml.gz
analysis_berlin10/
kelheim/
test/
dashboard_test/
.sentinel*
.idea
inst/doc
/doc/
/Meta/

