.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
__MACOSX
node_modules/
matsim_r_analysis/
matsim_r_output/
berlin/
berlin_policy/
serengeti/
hamburg/
hamburg_shape/
base/
policy/
temp_output_trips.csv
test_comparing/
output_after_plots.png
test_comparing_first/
test_prepare/
